{
    "swagger": "2.0",
    "info": {
        "title": "Connfa API",
        "version": "2.0"
    },
    "host": "local.connfa",
    "basePath": "/api/v2",
    "schemes": [
        "http"
    ],
    "paths": {
        "/getSchedules": {
            "get": {
                "tags": [
                    "Schedule"
                ],
                "summary": "Get all schedules",
                "description": "Returns all schedules by codes",
                "operationId": "index",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "If-Modified-Since",
                        "in": "header",
                        "description": "Date, for example: Tue, 4 Apr 2017 09:50:24 +0000",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "codes[]",
                        "in": "query",
                        "description": "Array of codes. Request example: /getSchedules?codes[]=2341&codes[]=8614",
                        "required": true,
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "properties": {
                                "schedules": {
                                    "description": "Get schedules",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Transformers.ScheduleTransformer"
                                    }
                                }
                            }
                        }
                    },
                    "302": {
                        "description": "No updates"
                    }
                }
            }
        },
        "/createSchedule": {
            "post": {
                "tags": [
                    "Schedule"
                ],
                "summary": "Create schedule",
                "description": "Create schedule",
                "operationId": "create",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Array of events id",
                        "required": true,
                        "schema": {
                            "properties": {
                                "data": {
                                    "description": "Create schedule",
                                    "type": "array",
                                    "items": {
                                        "type": "integer",
                                        "format": "int32",
                                        "example": 15
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation, schedule created",
                        "schema": {
                            "properties": {
                                "code": {
                                    "description": "Successful operation, schedule created",
                                    "type": "integer",
                                    "format": "int32",
                                    "example": 2431
                                }
                            }
                        }
                    }
                }
            }
        },
        "/updateSchedule/{code}": {
            "put": {
                "tags": [
                    "Schedule"
                ],
                "summary": "Update schedule",
                "description": "Update schedule",
                "operationId": "update",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Schedule unique code",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Array of events id",
                        "required": true,
                        "schema": {
                            "properties": {
                                "data": {
                                    "description": "Update schedule",
                                    "type": "array",
                                    "items": {
                                        "type": "integer",
                                        "format": "int32",
                                        "example": 15
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation, schedule updated",
                        "schema": {
                            "properties": {
                                "code": {
                                    "description": "Update schedule",
                                    "type": "integer",
                                    "format": "int32",
                                    "example": 2431
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Schedule not found"
                    }
                }
            }
        }
    },
    "definitions": {
        "Transformers.ScheduleTransformer": {
            "required": [
                "code",
                "events"
            ],
            "properties": {
                "code": {
                    "description": "Schedule code",
                    "type": "integer",
                    "format": "int32",
                    "example": 3518
                },
                "events": {
                    "description": "List of events",
                    "type": "array",
                    "items": {
                        "type": "integer",
                        "format": "int32",
                        "example": 54
                    }
                }
            }
        }
    }
}