{
    "swagger": "2.0",
    "info": {
        "title": "Connfa API",
        "version": "2.0"
    },
    "host": "local.connfa",
    "basePath": "/api/v2",
    "schemes": [
        "http"
    ],
    "paths": {
        "/getSchedules": {
            "get": {
                "tags": [
                    "Schedule"
                ],
                "summary": "Get all schedules",
                "description": "Returns all schedules by codes",
                "operationId": "index",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "If-Modified-Since",
                        "in": "header",
                        "description": "Date, for example: Tue, 4 Apr 2017 09:50:24 +0000",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "codes[]",
                        "in": "query",
                        "description": "Array of codes",
                        "required": true,
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Schedules response",
                        "schema": {
                            "properties": {
                                "schedules": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Transformers.ScheduleTransformer"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/createSchedule": {
            "post": {
                "tags": [
                    "Schedule"
                ],
                "summary": "Create schedule",
                "description": "Create schedule",
                "operationId": "create",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Array of events id",
                        "required": true,
                        "schema": {
                            "properties": {
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "type": "integer",
                                        "format": "int32",
                                        "example": 15
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Schedules response",
                        "schema": {
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32",
                                    "example": 2431
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Transformers.ScheduleTransformer": {
            "required": [
                "code",
                "events"
            ],
            "properties": {
                "code": {
                    "description": "Schedule code",
                    "type": "integer",
                    "format": "int32",
                    "example": 3518
                },
                "events": {
                    "description": "List of events",
                    "type": "array",
                    "items": {
                        "type": "integer",
                        "format": "int32",
                        "example": 54
                    }
                }
            }
        }
    }
}